.containerUtama{
  background-color: #F9F9F9;
}

.title{
  margin: auto;
  width: 30%;
}

.container_title{
  background-color: #C4C4C4;
}

.body_container{
  background-color: #F9F9F9;
}

.statusPesananBelum {
  color: red;
}

.statusPesananSudah {
  color: green;
}